body {
    font-family: sans-serif;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
}
.comeco1 {
  width: 1360px;
  position: relative;
  margin: 0 auto;
}
.comeco {
    margin: 0 auto;
    width: 620px;
    position: relative;
    
}
table, td, th {
    border: none;
    padding: 5px;
    text-align: center;
    box-shadow: 0.2px 2px black;
    color: rgb(39, 39, 39);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  h1 {
    font-family: sans-serif;
    text-decoration: underline;
    text-align: center;
}
.logo {
  text-align: center;
  font-family: arial;
  font-size: 9pt;
  margin-top: 30px;
}
.logo1 {
  text-align: center;
  font-family: arial;
  font-size: 9pt;
  text-transform: none!important;
}
.fundo {
  float: right;
  margin-top: -200px;
  position: fixed;
  top: 50%;
  left: 78%;
}