body{
    background-image: url(granderio.jpg);
    background-repeat: no-repeat;
    background-size: 100% 105%;
}

.descricao {
    width: 328px;
    height: 110px;
}
.botaoenviar {
    color: #009045;
    background-color: white;
    border-radius: 30px;
    border-color: #009045;
    font-size: 15pt;
    font-family: sans-serif;
    height: 50px;
    width: 160px;
    border: solid #009045;
    margin-top: 10px;
    box-shadow: 5px 3px rgb(42, 88, 31);
    margin-left: 111px;
    cursor: pointer;
}
.comeco {
    margin: 0 auto;
    width: 422px;
    position: relative;
    background-color: white;
    padding: 50px;
    border-radius: 30px;
}
.inputplaca {
    width: 60px;
}
h1 {
    font-family: sans-serif;
    text-decoration: underline;
    text-align: center;
}
label {
    font-family: sans-serif;
}
.botaoenviar1 {
    color: rgb(20, 97, 240);
    background-color: white;
    border-radius: 30px;
    border-color: rgb(20, 97, 240);
    font-size: 15pt;
    font-family: sans-serif;
    height: 50px;
    width: 160px;
    border: solid rgb(20, 97, 240);
    margin-top: 10px;
    box-shadow: 5px 3px rgb(14, 44, 100);
    margin-left: 111px;
    cursor: pointer;
}
.logo {
    text-align: center;
    font-family: arial;
    font-size: 9pt;
    margin-top: 30px;
}
.logo1 {
    text-align: center;
    font-family: arial;
    font-size: 9pt;
    color: white;
 
}