body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}
table a{
  text-decoration: underline;
}
.footer h3, footer h3{
  font-family: 'Lobster', cursive;
  text-transform:capitalize;
  font-size: 30pt;
  text-align: center;
  color: #adadad;
  margin-top: 2rem;
}
.cadastro{
  position:absolute; 
  bottom:20px;
  left:0%; 
  right:0%; 
}
h3:hover{
  background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(3, 129, 212));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer a:hover{
  text-decoration: none;
}
.qtd{
  text-align-last: center;
  margin-top: 45px;
  font-weight: 700;
  font-size: 16pt;
}
@media (min-width: 1200px){
  .container{
    max-width: 850px!important;
  }
}

table, td, th {
    border: none;
    padding: 5px;
    text-align: center;
    box-shadow: 0.2px 2px black;
    color: rgb(39, 39, 39);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    text-transform: uppercase;
  }